# Dependencies
node_modules/
.vscode

# Expo
.expo/
.expo-shared/

# Environment variables
.env
.env.local
.env.*.local

# Build files
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Android
android/.gradle/
android/app/build/
android/build/
mobile-app/android/.gradle/
mobile-app/android/build/
mobile-app/android/app/build/
mobile-app/android/unityLibrary/build/
mobile-app/android/unityLibrary/.cxx/
mobile-app/android/unityLibrary/symbols/
mobile-app/android/local.properties
mobile-app/android/unityLibrary/src/main/Il2CppOutputProject/
mobile-app/android/unityLibrary/src/main/jniStaticLibs/

# Unity duplicate export
/ar-unreal/

# iOS
ios/Pods/
ios/build/

# Secrets
*.pem
*.key
*.keystore
*.jks
